############################
# Build / Gradle
############################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar  # 이 녀석만큼은 예외로 추적한다!

############################
# IDEs
############################

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse / STS ###
.classpath
.project
.settings/
.springBeans
.sts4-cache/
bin/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# Java
############################
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

############################
# OS
############################

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Windows ###
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

############################
# JVM Crash Logs
############################
hs_err_pid*
replay_pid*

############################
# ETC
############################
application-local.yaml

